@model PersonalTimeSheet.DBUtils.Row

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true);
            <h3>Update Task</h3>
            <div style="display: none">@Html.EditorFor(x=>x.Id)</div>
            <div>Title : @Html.EditorFor(x => x.Title)</div>
            <br/>
            <div>Description : @Html.EditorFor(x => x.Description)</div>
            <br/>
            <div>Spent Time : @Html.EditorFor(x => x.SpentTime)</div>

            <p align="left">
                <input class="actionButtons" type="submit" value="Upadate" />
            </p>
        }

        @using (Html.BeginForm("List", "Row"))
        {
            @Html.Hidden("page", Session["curPage"])
            <input class="actionButtons" type="submit" value="Back" />
        }
